.label-offered {
  background-color: #a100ff;
}
.label-interviewing {
  background-color: #cb0091;
}
:focus {
  outline: none;
}
.pagination-bottom > .-pagination .-btn {
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  background-color: #222;
}
.pagination-bottom
  > .-pagination
  > .-center
  > .select-wrap.-pageSizeOptions
  > select,
.pagination-bottom > .-pagination > .-center > .-pageInfo > .-pageJump > input {
  border-radius: 0;
}
