.jobs {
  height: 70vh;
  margin-bottom: 200px;
}
.ag-grid-table {
  height: 100%;
}
.label-saved {
  background-color: #00a2ff;
  color: #fff;
}
.label-accepted {
  background-color: #51d500;
  color: #fff;
}
.label-offered {
  background-color: #a100ff;
  color: #fff;
}
.label-interviewing {
  background-color: #cb0091;
  color: #fff;
}
:focus {
  outline: none;
}
.pagination-bottom > .-pagination .-btn {
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  background-color: #222;
}
.pagination-bottom
  > .-pagination
  > .-center
  > .select-wrap.-pageSizeOptions
  > select,
.pagination-bottom > .-pagination > .-center > .-pageInfo > .-pageJump > input {
  border-radius: 0;
}
