.navbar {
  height: 10%;
}
@media (max-width: 375px) {
  nav.navbar > div > ul > li > a {
    font-size: 60%;
  }
}
.landing {
  background: url(../../assets/img/showcase.jpg);
  background-size: cover;
}
.footer {
  height: 10%;
}
