body {
  margin: 0;
  padding: 0;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #ff8432;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #666;
}
